<div class="ui-g maxHeight">
    <div class="ui-g-12 ui-md-2 theme-start" [hidden]=!sidemenu>
     	<div class="btn-group">
       		<img id="logo" src="../../images/radlogo-light.png" alt="branding logo" style="margin-top: 40px; margin-bottom: 40px; margin-right: 10px; margin-left: 10px;">
    	</div>
    	<p-panelMenu [model]="items" [style]="{'width':'100%'}"></p-panelMenu>
    </div>
    <div class="ui-g-12 ui-g-nopad" [ngClass]="{'ui-md-10': sidemenu, 'ui-md-12': !sidemenu }" >
        <div class="ui-g-12" [hidden]=sidemenu>
          <p-menubar [model]="items" [user]="usuario" (onLogout)="logout($event)"></p-menubar>
        </div>
        <div class="ui-g-12 ui-g-nopad">
            <!--<p-panel header="Title" [toggleable]="true"></p-panel>-->
            <router-outlet></router-outlet>
            <span *ngIf="objLoaderStatus">
                <ngl-spinner size="large" type="brand" container="true"></ngl-spinner>
            </span>
        </div>
    </div>
    <footer class="ui-g-12">
        Footer
    </footer>
</div>


 